 .container {
  display: flex;
  padding: 15px 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  flex: 2;
  align-items: center;
  justify-content: center;
}

.logoImg{
   margin-left: 10px;
   height: 22px;
}

.searchContainer {
  flex: 7;
  align-items: center;
  justify-content: center;
  display: flex;
}

.searchBox{
    height: 37px;
    border: 1px solid rgb(180, 177, 177);
    border-radius: 10px;
    align-items: center;
  justify-content: center;
 display: flex;
}

.signinContainer {
  flex: 3;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 15px;
}


