.course-video-container {
  padding: 0px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video-container {
  background-color: #fff1f1;
  padding: 20px;
  width: 1080px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
}

.nav-red {
  color: #d95656;
}

.playlist_thumb{
  font-size: 16px;
}
.playlist_thumb_time{
  font-size: 13px;
}

.play-img {
  width: 100%;
}

.video-nav-item {
  font-size: 15px;
  font-weight: 400;
}

.video-nav-title {
  font-size: 24px;
  font-weight: 500;
}

.video-play-container {
  flex: 8;
}

.playlist-container {
  flex: 4;
  gap: 30px;
}

.title-name {
  font-size: 22px;
  font-weight: 400;
}

.playlist {
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  padding: 10px;
}

.playlist-title {
  margin-bottom: 25px;
}

.playlist_left{
  flex: 4;
  display: flex;
  flex-direction: column;
}

.playlist_img{
  height: 60px;
}

.playlist_right{
  flex: 8;
  display: flex;
  gap: 8px;
  align-items: start;
  justify-content: center;
  margin-left: 5px;
  flex-direction: column;
}

.playlist-column {
  gap: 5px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 375px;
  padding: 5px;
}

.playlist-column::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.playlist-column::-webkit-scrollbar-track {
  background: #ffffff;
}

.playlist-column::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #db7474;
}

.account-row {
  display: flex;
  width: 90%;
  padding: 30px;
}

.account {
  flex: 6;
}

.account-box {
  flex: start;
  display: flex;
  align-items: center;
  gap: 10px;
}

.accountname {
  font-size: 18px;
  font-weight: 400;
}

.viewaccount {
  padding: 10px;
  background-color: #d95656;
  border: none;
  border-radius: 10px;
  color: #ffffff;
}

.share {
  flex: 6;
}

.share-row {
  justify-content: end;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sharebutton {
  padding: 10px;
  background-color: #fdfbfb;
  border: 1px solid #d95656;
  border-radius: 10px;
  color: #d95656;
}